.heading{
    text-align: center;
    color: bisque;
    text-transform: capitalize;

}
.body{
    background-color: None;
    /* background-image: url("https://m.media-amazon.com/images/I/71V9nv5oIEL._AC_SX466_.jpg"); */
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: scroll;

}
.heading2{
    color: blanchedalmond;
    text-transform: capitalize;
}
.grenhig{
    
    text-transform: lowercase;
}
a {
    color: greenyellow;
}
a:link {
    color:rgb(47, 255, 57);
    text-decoration: none;
  }
  

  a:visited {
    color: green;
    text-decoration: none;
  }
  
  a:hover {
    color:white;
    text-decoration: underline;
  }
  

  a:active {
    color: blue;
    text-decoration: none;
  }
button{
    background-color: navajowhite;
    color: black;
}
p{
    color: cornflowerblue;
}
/* ul{
  color: white;
  list-style-type:circle;
} */


ul {
  list-style-type: none;
  border-left-style: solid;
  border-left-width: 15px;
  border-color: rgba(4, 32, 243, 0.977);
  /* margin-left: 0;  */
  overflow: hidden;
  background-image: url("https://m.media-amazon.com/images/I/71V9nv5oIEL._AC_SX466_.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-color:rgb(164, 239, 242);
  /* background-color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
  box-shadow: 10px 10px 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
.mbp{
  width: 300px;
  padding: 25px;
}
.divm{
  margin-left: 40px;
}
/* video{
  width: 1000px;
  height: 100px;
} */